.pc {
    display: block !important;
  }
  
  .sp {
    display: none !important;
  }
  
  .tc {
    display: block !important;
  }
  
  .tb {
    display: none !important;
  }
  
  @media print, screen and (max-width: 991px) {
    .tc {
      display: none !important;
    }
    .tb {
      display: block !important;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .pc {
      display: none !important;
    }
    .sp {
      display: block !important;
    }
  }
  
  @media print, screen and (min-width: 769px) {
    .pc-hide {
      display: none !important;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .sp-hide {
      display: none !important;
    }
  }
  
  [data-aos=fade-up] {
    -webkit-transform: translate3d(0, 60px, 0);
            transform: translate3d(0, 60px, 0);
  }
  
  #wrapper {
    position: relative;
    width: 100%;
  }
  
  main {
    position: relative;
  }
  
  main#main {
    overflow: hidden;
  }
  
  /* input */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="password"],
  select,
  textarea {
    position: relative;
    background-color: #FBFBFB;
    border: 1px solid #888888;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0.8rem 0.8rem;
    width: 100%;
    font-family: "DNP ShueiMGoStd";
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.4rem;
    text-align: left;
    letter-spacing: 0.08em;
    color: #3E3A39;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="password"],
  select {
    height: 4.0rem;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  select:focus,
  textarea:focus {
    border-color: #888888;
  }
  
  select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../img/select-down.png);
    background-position: calc(100% - 0.8rem) 50%;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    z-index: 0;
  }
  
  /* checkbox */
  .checkbox {
    display: block;
    position: relative;
    padding-left: 3.2rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.0rem;
    text-align: left;
    color: #000000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  @media only screen and (max-width: 768px) {
    .checkbox {
      font-size: 1.6rem;
      line-height: 2.8rem;
      padding-left: 3.0rem;
    }
  }
  
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkbox .checkmark {
    position: absolute;
    top: 0.3rem;
    left: 0;
    height: 2.4rem;
    width: 2.4rem;
    background-color: #FFFFFF;
    border-radius: 0.4rem;
    border: 2px solid #1B1B1F;
  }
  
  @media only screen and (max-width: 768px) {
    .checkbox .checkmark {
      top: 0.4rem;
      width: 2.0rem;
      height: 2.0rem;
      border-radius: 0.4rem;
    }
  }
  
  .checkbox input:focus ~ .checkmark {
    outline: 0.3rem solid #7EBF41;
  }
  
  .checkbox input:checked ~ .checkmark {
    background-color: #3B8E65;
    border-color: #3B8E65;
    outline: none;
  }
  
  .checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox .checkmark:after {
    left: 0.5rem;
    top: 0;
    width: 0.9rem;
    height: 1.5rem;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  @media only screen and (max-width: 768px) {
    .checkbox .checkmark:after {
      left: 0.4rem;
      top: 0;
      width: 0.8rem;
      height: 1.2rem;
    }
  }
  
  picture,
  figure,
  .image_wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
  }
  
  picture img,
  figure img,
  .image_wrap img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  
  .scroll {
    position: relative;
    max-width: 100%;
    width: 100%;
    overflow: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .scroll {
      padding-bottom: 1.2rem;
    }
    .scroll::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #f5f5f5;
      border-radius: 0.6rem;
    }
    .scroll::-webkit-scrollbar {
      height: 0.6rem;
      background-color: #f5f5f5;
    }
    .scroll::-webkit-scrollbar-thumb {
      border-radius: 0.6rem;
      background-color: #FED517;
    }
  }
  
  .common-section {
    position: relative;
    padding: 10.0rem 0 10.0rem;
  }
  
  @media only screen and (max-width: 768px) {
    .common-section {
      padding: 6.0rem 0 7.0rem;
    }
  }
  
  .m-text {
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  
  @media only screen and (max-width: 768px) {
    .m-text {
      letter-spacing: 0.04em;
    }
  }
  
  .underline-bg {
    display: inline;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(68%, transparent), color-stop(0%, #FBB03B));
    background: linear-gradient(transparent 68%, #FBB03B 0%);
  }
  
  /* btn */
  .btn-wrap {
    position: relative;
  }
  
  .btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 24.0rem;
    padding: 1.6rem 2.0rem 1.6rem 2.4rem;
    background: #FBFBFB;
    font-family: "DNP ShueiMGoStd";
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.6rem;
    letter-spacing: 0.08em;
    color: #3E3A39;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    border: none;
    outline: none;
    -webkit-transition: background 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: background 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
  }
  
  @media only screen and (max-width: 768px) {
    .btn {
      max-width: 33.5rem;
      width: 100%;
      padding: 1.6rem 2.0rem 1.6rem 2.4rem;
    }
  }
  
  .btn span {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    padding-top: 0.2rem;
    z-index: 3;
  }
  
  .btn svg {
    position: relative;
    display: inline-block;
    width: 2.4rem;
    height: auto;
    text-decoration: none;
    margin-left: 2.0rem;
    z-index: 3;
  }
  
  .btn svg path {
    -webkit-transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
  }
  
  .btn.bg-gray {
    background: #EDEDED;
  }
  
  .btn.out-link svg {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #3E3A39;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    z-index: 1;
  }
  
  .btn:hover {
    color: #FFFFFF;
  }
  
  .btn:hover svg path {
    stroke: #FFFFFF;
  }
  
  .btn:hover::before {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  
  .dark-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 37.5rem;
    max-width: 100%;
    padding: 1.8rem 2.4rem 1.8rem 2.4rem;
    background: #3E3A39;
    font-family: "DNP ShueiMGoStd";
    font-size: 1.8rem;
    line-height: 3.0rem;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    border: none;
    outline: none;
    -webkit-transition: background 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: background 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    overflow: hidden;
    cursor: pointer;
    z-index: 0;
  }
  
  @media only screen and (max-width: 768px) {
    .dark-btn {
      max-width: 33.5rem;
      width: 100%;
      padding: 1.8rem 2.4rem 1.8rem 2.4rem;
    }
  }
  
  .dark-btn span {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    padding-top: 0.2rem;
    z-index: 3;
  }
  
  .dark-btn svg {
    position: relative;
    display: inline-block;
    width: 2.0rem;
    height: auto;
    text-decoration: none;
    margin-left: 0.8rem;
    z-index: 3;
  }
  
  .dark-btn svg path {
    -webkit-transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
  }
  
  .dark-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #EDEDED;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    z-index: 1;
  }
  
  .dark-btn:hover {
    color: #3E3A39;
  }
  
  .dark-btn:hover svg path {
    stroke: #3E3A39;
  }
  
  .dark-btn:hover::before {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }

  
.header {
    position: fixed;
    display: -webkit-flex;
        display: -ms-flexbox;
            display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 13rem;
    background: inherit;
    padding-left: 4.8rem;
    padding-right: 4.0rem;
    padding-top: auto;
    padding-left: auto;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 996;
  }
  
  @media only screen and (max-width: 768px) {
    .header {
      padding: 4.0rem 2.0rem 0;
    }
  }
  
  .header .header-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header .header-logo {
    position: relative;
    width: 33.2rem;
    padding: 0;
    margin-left: 0;
    margin-right: auto;
  }
  
  @media only screen and (max-width: 1280px) {
    .header .header-logo {
      width: 26rem;
    }
  }
  
  .header .header-logo a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  
  .header .header-logo a img {
    display: block;
    width: 100%;
  }
  
  .header .header-nav {
    position: relative;
    width: 100%;
    padding: 0;
    margin-right: 0;
    max-width: 80%;
  }
  
  @media print, screen and (max-width: 991px) {
    .header .header-nav {
      display: none;
    }
  }
  
  .header .header-nav .nav-menu {
    position: relative;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    line-height: 1;
  }
  
  .header .header-nav .nav-menu > li {
    position: relative;
    padding: 0;
  }
  
  .header .header-nav .nav-menu > li:not(:first-child) {
    margin-left: 3.0rem;
  }
  
  .header .header-nav .nav-menu > li .menu-link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "DNP ShueiMGoStd";
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.08em;
    color: #333333;
    margin: 0;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    z-index: 0;
  }

  .header .header-nav .nav-menu > li .menu-link img {
    display: inline-block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 1.1rem;
    margin-left: 0.6rem;
  }
  
  .header .header-nav .nav-menu > li .menu-link svg {
    display: inline-block;
    width: initial;
    height: auto;
    margin-left: 0.6rem;
  }
  
  .header .header-nav .nav-menu > li .menu-link span {
    color: inherit;
    text-decoration: none;
  }
  
  .header .header-nav .nav-menu > li .menu-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #333333;
    -webkit-transform-origin: right center;
            transform-origin: right center;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1);
  }
  
  .header .header-nav .nav-menu > li .menu-link:hover::before, .header .header-nav .nav-menu > li .menu-link.active::before {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  
  .header .header-nav .nav-menu > li .instgram-link {
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #FFFFFF;
    text-decoration: none;
  }

  .social {
    margin-left: 5.6rem;
    position: relative;
  }

  @media only screen and (max-width: 1280px) {
    .social {
      margin-left: 3rem;
    } 
  }

  .social .social-link {
    position:relative;
    width: max-content;
  }

  .social .social-link li {
    display: inline;
    position: relative;
    
  }

  .social .social-link li:not(:last-child) {
    margin-right: 2rem;
  }

  @media only screen and (max-width: 1280px) {
    .social .social-link li:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  .social .social-link img {
    display: inline;
    position: relative;
    width: 2.6rem;
  }

  
  .header .mobile-toggle {
    position: relative;
    display: none;
    width: 2.4rem;
    height: 1.7rem;
    padding: 0;
    background: none;
    display: none;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9;
  }
  
  @media only screen and (max-width: 768px) {
    .header .mobile-toggle {
      display: block;
    }
  }
  
  .header .mobile-toggle span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  
  .header .mobile-toggle span:nth-child(1) {
    top: 0;
  }
  
  .header .mobile-toggle span:nth-child(2) {
    top: 0.8rem;
  }
  
  .header .mobile-toggle span:nth-child(3) {
    bottom: 0;
  }
  
  .header .mobile-toggle.toggle-active span:nth-child(1) {
    -webkit-transform: translateY(0.8rem) rotate(-45deg);
            transform: translateY(0.8rem) rotate(-45deg);
  }
  
  .header .mobile-toggle.toggle-active span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
    visibility: hidden;
  }
  
  .header .mobile-toggle.toggle-active span:nth-child(3) {
    -webkit-transform: translateY(-0.8rem) rotate(45deg);
            transform: translateY(-0.8rem) rotate(45deg);
  }
  
  .header-fixed {
    position: fixed;
    top: -7.2rem;
    left: 0;
    width: 100%;
    background: #FBFBFB;
    padding: 1.6rem 2.0rem;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 996;
  }
  
  .header-fixed .header-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 128.0rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .header-fixed .header-logo {
    position: relative;
    width: 26.2rem;
    padding: 0;
  }
  
  .header-fixed .header-logo a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  
  .header-fixed .header-logo a img {
    display: block;
    width: 100%;
  }
  
  .header-fixed .header-nav {
    position: relative;
    padding: 0;
  }
  
  @media print, screen and (max-width: 991px) {
    .header-fixed .header-nav {
      display: none;
    }
  }
  
  .header-fixed .header-nav .nav-menu {
    position: relative;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1;
  }
  
  .header-fixed .header-nav .nav-menu > li {
    position: relative;
    padding: 0;
  }
  
  .header-fixed .header-nav .nav-menu > li:not(:first-child) {
    margin-left: 3.0rem;
  }
  
  .header-fixed .header-nav .nav-menu > li .menu-link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "DNP ShueiMGoStd";
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.8rem;
    letter-spacing: 0.08em;
    color: #3E3A39;
    margin: 0;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    z-index: 0;
  }
  
  .header-fixed .header-nav .nav-menu > li .menu-link img {
    display: inline-block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 1.1rem;
    margin-left: 0.6rem;
  }
  
  .header-fixed .header-nav .nav-menu > li .menu-link svg {
    display: inline-block;
    width: initial;
    height: auto;
    margin-left: 0.6rem;
  }
  
  .header-fixed .header-nav .nav-menu > li .menu-link span {
    color: inherit;
    text-decoration: none;
  }
  
  .header-fixed .header-nav .nav-menu > li .menu-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #3E3A39;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
    transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1);
  }
  
  .header-fixed .header-nav .nav-menu > li .menu-link:hover::before, .header-fixed .header-nav .nav-menu > li .menu-link.active::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  
  .header-fixed .header-nav .nav-menu > li .instgram-link {
    position: relative;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #3E3A39;
    text-decoration: none;
  }
  
  .header-fixed .mobile-toggle {
    position: relative;
    display: none;
    width: 2.4rem;
    height: 1.7rem;
    padding: 0;
    background: none;
    display: none;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9;
  }
  
  @media only screen and (max-width: 768px) {
    .header-fixed .mobile-toggle {
      display: block;
    }
  }
  
  .header-fixed .mobile-toggle span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #3E3A39;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  
  .header-fixed .mobile-toggle span:nth-child(1) {
    top: 0;
  }
  
  .header-fixed .mobile-toggle span:nth-child(2) {
    top: 0.8rem;
  }
  
  .header-fixed .mobile-toggle span:nth-child(3) {
    bottom: 0;
  }
  
  .header-fixed .mobile-toggle.toggle-active span:nth-child(1) {
    -webkit-transform: translateY(0.8rem) rotate(-45deg);
            transform: translateY(0.8rem) rotate(-45deg);
  }
  
  .header-fixed .mobile-toggle.toggle-active span:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
    visibility: hidden;
  }
  
  .header-fixed .mobile-toggle.toggle-active span:nth-child(3) {
    -webkit-transform: translateY(-0.8rem) rotate(45deg);
            transform: translateY(-0.8rem) rotate(45deg);
  }
  

  @media print, screen and (min-width: 769px) {
    #header.header-scrolled .header-logo {
      opacity: 0;
      visibility: hidden;
      width: 0rem;
      height: 0rem;
      margin-bottom: 0;
    }
  }
  
  .mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    width: 6rem;
    height: 6rem;
    padding: 1.8rem 1.5rem;
    background: #7EBF41;
    display: none;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 999;
    margin: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  @media only screen and (max-width: 768px) {
    .mobile-nav-toggle {
      display: inline-block;
    }
  }
  
  .mobile-nav-toggle .toggle-icon {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .mobile-nav-toggle .toggle-icon span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  
  .mobile-nav-toggle .toggle-icon span:nth-child(1) {
    top: 0;
  }
  
  .mobile-nav-toggle .toggle-icon span:nth-child(2) {
    top: calc(50% - 1px);
  }
  
  .mobile-nav-toggle .toggle-icon span:nth-child(3) {
    bottom: 0;
  }
  
  .mobile-nav-toggle.toggle-active .toggle-icon span:nth-child(1) {
    -webkit-transform: translateY(1rem) rotate(-40deg);
            transform: translateY(1rem) rotate(-40deg);
  }
  
  .mobile-nav-toggle.toggle-active .toggle-icon span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  
  .mobile-nav-toggle.toggle-active .toggle-icon span:nth-child(3) {
    -webkit-transform: translateY(-1.1rem) rotate(40deg);
            transform: translateY(-1.1rem) rotate(40deg);
  }
  
  #mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 998;
    right: -100%;
    width: 80%;
    max-width: 600px;
    overflow-y: auto;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: #7EBF41;
  }
  
  #mobile-nav .mobile-nav-container {
    position: relative;
    padding: 13rem 3rem 3rem;
  }
  
  @media only screen and (max-width: 768px) {
    #mobile-nav .mobile-nav-container {
      padding: 6rem 1.5rem 1.5rem;
    }
  }
  
  #mobile-nav .mobile-nav-menu {
    position: relative;
    list-style: none;
  }
  
  #mobile-nav .mobile-nav-menu > li {
    position: relative;
    display: block;
  }
  
  #mobile-nav .mobile-nav-menu > li > a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-family: "DNP ShueiMGoStd";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    padding: 1.8rem 0;
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid #FFFFFF;
  }
  
  #mobile-nav .mobile-nav-menu > li > a img {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 3.7rem;
  }
  
  #mobile-nav .mobile-nav-menu > li > a span {
    color: inherit;
  }
  
  #mobile-nav .mobile-nav-menu .drop-down > a::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    right: 0;
    display: inline-block;
    width: 10px;
    height: 6px;
    background-image: url(../img/common/icon-down.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
  }
  
  #mobile-nav .mobile-nav-menu .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  #mobile-nav .mobile-nav-menu .drop-down li {
    padding-left: 16px;
  }
  
  #mobile-nav .mobile-nav-menu .drop-down li a {
    position: relative;
    display: block;
    width: 100%;
    font-family: "DNP ShueiMGoStd";
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #000000;
    padding: 16px 0;
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid #000000;
  }
  
  #mobile-nav .mobile-nav-menu .drop-down.active > a::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  
  .mobile-nav-overly {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 997;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  /* Mobile Nav body classes */
  @media only screen and (max-width: 768px) {
    body.mobile-nav-active {
      overflow: hidden;
    }
  }
  
  body.mobile-nav-active #mobile-nav {
    right: 0;
  }

  .mainvisual {
    position: relative;
    margin-top: 13rem;
  }

  .mainvisual .search-bar {
    --width: 32rem;
    position: absolute;
    top: 65%;
    width: var(--width);
    left: calc(50% - var(--width) / 2);
  }

  .mainvisual .search-bar::after {
    position: absolute;
    bottom: -4rem;
    right: 0;
    content: "詳細検索";
    color: #333333;
    font-family: "DNP ShueiMGoStd";
    font-weight: 800;
    font-size: 2.0rem;
    line-height: 2.4rem;
    text-align: left;
  }

  .search-bar {
    display: -webkit-flex;
      display: -ms-flexbox;
        display: flex;
    flex-direction: row;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    border-radius: 6px;
    border: 1px solid #40C2BF;
  }

  .search-bar .input-box {
    width: 100%;
    display: -webkit-flex;
      display: -ms-flexbox;
        display: flex;
    flex-direction: row;
    -webkit-box-align: center;
      -ms-flex-align: center;
        align-items: center;
    border-radius: 0.6rem 0 0 0.6rem;
    background-color: white;
  }

  .search-bar .input-box input {
    color: #333;
    font-family: "DNP ShueiMGoStd";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: left;
    border: 0;
    border-radius: 0.6rem 0 0 0.6rem;
  }

  .search-bar .input-box i {
    font-size: 1.6rem;
    margin: auto 1.6rem;
  }

  .search-bar button {
    border-radius: 0 0.6rem 0.6rem 0;
    background-color: #40C2BF;
    width: 5rem;
    height: 5rem;
  }

  .search-bar button i {
    font-size: 2.4rem;
  }